.nav_top_container{

    background-color: #202c45;
    color: white;
    padding: 10px;
}
.nav_top_body{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 600;
}
.have_ques{
    color: rgb(233, 233, 233);
    font-weight: 400;
}