.teacher_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 5%;
  background-color: rgb(252, 253, 254);
}
.teacher_header {
  text-align: center;
  margin: 20px;
}
.teacher_container {
  width: 100%;
}
.t_img_container {
  display: flex;
  align: center;
  margin: 30px;

  border-image: round;
  border-radius: 0;
}
.single_card img {
  max-width: 250px;
}
.crd_bdy_teacher {
  text-align: left;
}
.teacher_btn_con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher_more {
  margin: 5% 0px;
  width: 35%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: #f2184f;
  border-radius: 0px;
  border: 2px solid #f2184f;
  padding: 10px 20px;
}

.teacher_more:hover {
  margin: 5% 0px;
  width: 35%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: #202c45;
  border-radius: 0px;
  border: 2px solid #202c45;
  padding: 10px 20px;
}

.teacher_header h2 {
  font-size: 30px;
  font-weight: 600;
  color: white;
  
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #202c45;
}

.btn-primary {
  background: #202c45;

  border-radius: 0px;
}

.btn-primary:hover {
  background: #f2184f;
  border-color: #f2184f;

  border-radius: 0px;
}

.card {
  border-radius: 0px;
  border: #202c45 0px solid;
}

.card:hover {
  border-radius: 0px;
  border: #f2184f 2px solid;
}
.tech_hed{
  background-color: #202c45;
  color: white;
  padding: 12px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-bottom: 20px;
  font-family: serif;
}

.hed_pera{
  margin-bottom: 5% !important;
}


.tea_img_container img{
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}