.bg-dark{
    background-color: rgb(22, 22, 22);
    color: white;
}

.footer_top_container{
    background-color: #202c45;
    color: white;
}

.footer_top{
    padding: 15px 10px;
}
.footer_top h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 17px;
}
.footer_top p{
    color: rgb(243, 229, 202);
    font-weight: 500;
}
.ft_angle_icon{
    color: rgb(244, 226, 192);
}
.footer_top input{
    border: black;
    padding: 12px 20px;
    margin-top: 20px;
    max-width: 70%;
}
.footer_top button{
    background-color: #f2184f;
    padding: 12px 18px;
    margin-top: 20px;
    margin-left: 8px;
    font-weight: 700;
    font-size: 18px;
}

.footer_head2{
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
}
.footer_bottom{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}