.about_btn{
    background-color: #0c0f1ad7;
    border: 4px solid #08245f;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
/* .home_bg_Clr{
    background-color: rgb(244, 247, 250);
}
.welcome_header{
    margin-top: 10% !important;
} */