.drawer {
  min-width: 250px;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  transition-property: position, left;
  transition-duration: .2s;
}
.close-btn {
  display: none;
}
.close-btn-ops{
    position: absolute;
    top: 37px;
    right: 10px;
}
@media screen and (max-width: 1200px) {
  .close-btn {
    display: block;
  }

  .drawer {
    position: absolute;
    top: 0;
    left: -250px;
  }
  .drawer-close {
    position: absolute;
    top: 0;
    left: -250px;
  }
  .drawer-open {
    position: absolute;
    top: 0;
    left: 0;
  }
}
