.welcom_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* width: 80%; */
}
.wel_container{
  /* width: 80%; */
}
.welcom_section .welcome_header {
  margin-top: 5%;
  text-align: center;
}
.welcom_section .btn-primary {
  background: #202c45;
  width: 200px;
  border-radius: 0px;
}
.welcom_section .btn-primary:hover {
  background: #f2184f;
  width: 200px;
  border-radius: 0px;
  border: #f2184f 2px solid;
}

.welcom_section  {
  border-radius: 0px;
  /* border: #202c45 2px solid; */
}

.welcom_section hover {
  border-radius: 0px;
  border: #f2184f 2px solid;
}
.wel_icon{
  font-size: 60px;
  border: 2px solid #f2184f;
  padding:10px 20px;
  border-radius: 65%;
}