.welcom_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.welcom_section .welcome_header {
  margin-top: 5%;
  text-align: center;
}
.welcom_section .btn-primary {
  background: #202c45;
  width: 300px;
  border-radius: 0px;
}
.welcom_section .btn-primary:hover {
  background: #f2184f;
  width: 300px;
  border-radius: 0px;
  border: #f2184f 2px solid;
}

.welcom_section .card.w-96.bg-base-100.shadow-xl.m-2 {
  border-radius: 0px;
  border: #202c45 2px solid;
}

.welcom_section .card.w-96.bg-base-100.shadow-xl.m-2:hover {
  border-radius: 0px;
  border: #f2184f 2px solid;
}
